Repository vietanhdev/ThinkUtils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

security(mcp): migrate to rmcp 2 and enforce Host and Origin (#29)
  .github/workflows/ci.yml
  build/gui-test-out/deb_ubuntu_24.04/ocr.txt
  build/gui-test-out/deb_ubuntu_24.04/shot.png
  build/gui-test-out/deb_ubuntu_24.04/shot_root.png
  build/gui-test-out/rpm_fedora_41/ocr.txt
  build/gui-test-out/rpm_fedora_41/shot.png
  build/gui-test-out/rpm_fedora_41/shot_root.png
  docs/guide/mcp.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/mcp.rs
  src/templates/views/mcp.html
Due: prettier --write

security(deps): upgrade oauth2 to 5.0 and reqwest to 0.12
  .github/workflows/ci.yml
  build/gui-test-out/deb_ubuntu_24.04/ocr.txt
  build/gui-test-out/deb_ubuntu_24.04/shot.png
  build/gui-test-out/deb_ubuntu_24.04/shot_root.png
  build/gui-test-out/rpm_fedora_41/ocr.txt
  build/gui-test-out/rpm_fedora_41/shot.png
  build/gui-test-out/rpm_fedora_41/shot_root.png
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/sync.rs
Due: none

ci(audit): drop the self-matching exemption guard
  .github/workflows/ci.yml
Due: none

chore(husky): drop the lines husky v10 will reject
  .husky/pre-commit
Due: none

test(sync): prove the OAuth client refuses redirects
  src-tauri/src/sync.rs
Due: none

security(apt): sign the published repository
  .github/workflows/release.yml
  docs/development/apt-signing.md
Due: none

fix(fan-curve): keep the watchdog alive at a steady temperature
  src-tauri/src/fan_curve.rs
Due: none

security(deps): upgrade oauth2 to 5.0 and reqwest to 0.12 (#30)
  .github/workflows/ci.yml
  .husky/pre-commit
  build/gui-test-out/deb_ubuntu_24.04/ocr.txt
  build/gui-test-out/deb_ubuntu_24.04/shot.png
  build/gui-test-out/deb_ubuntu_24.04/shot_root.png
  build/gui-test-out/rpm_fedora_41/ocr.txt
  build/gui-test-out/rpm_fedora_41/shot.png
  build/gui-test-out/rpm_fedora_41/shot_root.png
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/sync.rs
Due: none

fix(mcp): serve-path and bind failures were both invisible
  docs/guide/mcp.md
  src-tauri/src/mcp.rs
  src/js/views/mcp.js
Due: eslint --fix, prettier --write

fix(fan-curve): say when a computed level was not applied
  src-tauri/src/fan_curve.rs
  src/js/fanCurve.js
  src/styles/fan.css
Due: eslint --fix, prettier --write, stylelint --fix

security(apt): sign the published repository (#35)
  .github/workflows/release.yml
  docs/development/apt-signing.md
Due: none

fix: three defects around offline CPUs and a blocked UI thread
  src-tauri/src/monitor.rs
  src-tauri/src/performance.rs
Due: none

fix(mcp): serve-path and bind failures were both invisible (#37)
  docs/guide/mcp.md
  src-tauri/src/mcp.rs
  src/js/views/mcp.js
Due: eslint --fix, prettier --write

fix(fan-curve): keep the firmware watchdog alive at a steady temperature (#36)
  src-tauri/src/fan_curve.rs
  src/js/fanCurve.js
  src/styles/fan.css
Due: eslint --fix, prettier --write, stylelint --fix

docs(apt): say plainly what [trusted=yes] gives up
  docs/.vitepress/config.mjs
  docs/download.md
Due: none

feat(packaging): publish workflows for AUR, COPR and the PPA
  .github/workflows/publish-aur.yml
  .github/workflows/publish-copr.yml
  .github/workflows/publish-ppa.yml
  docs/development/packaging.md
Due: none

security(sync): make Google OAuth a public client with PKCE, no secret
  docs/development/google-oauth.md
  src-tauri/src/sync.rs
Due: none

fix: three defects around offline CPUs and a blocked UI thread (#38)
  src-tauri/src/monitor.rs
  src-tauri/src/performance.rs
Due: none

fix(ui): the permission dialog's primary action was below the fold
  src-tauri/tests/packaging.rs
  src/styles/dialogs.css
  src/templates/dialogs.html
Due: prettier --write, stylelint --fix

docs(apt): say plainly what [trusted=yes] gives up (#39)
  docs/.vitepress/config.mjs
  docs/download.md
Due: none

feat(packaging): publish workflows for AUR, COPR and the PPA (#33)
  .github/workflows/publish-aur.yml
  .github/workflows/publish-copr.yml
  .github/workflows/publish-ppa.yml
  docs/development/packaging.md
Due: none

security(sync): make Google OAuth a public client with PKCE, no secret (#32)
  docs/development/google-oauth.md
  src-tauri/src/sync.rs
Due: none

fix(ui): the permission dialog's primary action was below the fold (#34)
  src-tauri/tests/packaging.rs
  src/styles/dialogs.css
  src/templates/dialogs.html
Due: prettier --write, stylelint --fix

security(frontend): escape untrusted strings and set a real CSP
  src-tauri/tauri.conf.json
  src-tauri/tests/packaging.rs
  src/js/utils.js
  src/js/views/battery.js
  src/js/views/fan.js
  src/js/views/monitor.js
  src/js/views/security.js
Due: eslint --fix, prettier --write

security: one safe path for running a script as root
  src-tauri/src/auth.rs
  src-tauri/src/battery.rs
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
  src-tauri/src/performance.rs
  src-tauri/src/privileged.rs
Due: none

refactor(ui): one implementation each for hardware controls and log panels
  src/js/hardwareControls.js
  src/js/logPanel.js
  src/js/views/home.js
  src/js/views/performance.js
  src/js/views/security.js
Due: eslint --fix, prettier --write

fix: route the last two threshold callers through one lookup
  src-tauri/src/mcp.rs
  src-tauri/src/permissions.rs
  src-tauri/tests/threshold_attribute_names.rs
Due: none

fix(ui): two controls that could disagree with the hardware
  src/js/hardwareControls.js
  src/js/views/home.js
  src/js/views/mcp.js
Due: eslint --fix, prettier --write

fix(ui): canvas hit-testing, and make init failures survivable
  scripts/test-gui-packages-docker.sh
  src-tauri/src/lib.rs
  src/js/app.js
  src/js/fanCurve.js
Due: eslint --fix, prettier --write

refactor(ui): give views a lifecycle, and make dialogs keyboard-usable
  src/js/about.js
  src/js/app.js
  src/js/dialog.js
  src/js/navigation.js
  src/js/state.js
  src/js/utils.js
  src/js/views/fan.js
  src/js/views/monitor.js
  src/js/views/registry.js
  src/templates/views/battery.html
  src/templates/views/mcp.html
  src/templates/views/monitor.html
  src/templates/views/performance.html
  src/templates/views/security.html
  src/templates/views/sync.html
  src/templates/views/system.html
Due: eslint --fix, prettier --write

docs(ui): say what each control does and what it costs
  src/templates/views/battery.html
  src/templates/views/fan.html
  src/templates/views/performance.html
Due: prettier --write

fix: battery thresholds now grantable, and MCP stops stealing the OAuth port
  docs/guide/mcp.md
  src-tauri/src/battery.rs
  src-tauri/src/mcp.rs
  src-tauri/src/permissions.rs
  src-tauri/src/sync.rs
  src/js/views/mcp.js
  src/templates/views/mcp.html
Due: eslint --fix, prettier --write

docs(apt): signing key is configured; show the verified path
  docs/download.md
Due: none

fix(ci): main runs were being cancelled, recording nothing
  .github/workflows/ci.yml
  src-tauri/tests/workflow_concurrency.rs
Due: none

docs(apt): signing key is configured; show the verified path (#41)
  docs/download.md
Due: none

refactor(ui) + security: view lifecycle, one implementation per control, and the pkexec/XSS fixes (#40)
  docs/guide/mcp.md
  scripts/test-gui-packages-docker.sh
  src-tauri/src/auth.rs
  src-tauri/src/battery.rs
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
  src-tauri/src/mcp.rs
  src-tauri/src/performance.rs
  src-tauri/src/permissions.rs
  src-tauri/src/privileged.rs
  src-tauri/src/sync.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/packaging.rs
  src-tauri/tests/threshold_attribute_names.rs
  src/js/about.js
  src/js/app.js
  src/js/dialog.js
  src/js/fanCurve.js
  src/js/hardwareControls.js
  src/js/logPanel.js
  src/js/navigation.js
  src/js/state.js
  src/js/utils.js
  src/js/views/battery.js
  src/js/views/fan.js
  src/js/views/home.js
  src/js/views/mcp.js
  src/js/views/monitor.js
  src/js/views/performance.js
  src/js/views/registry.js
  src/js/views/security.js
  src/templates/views/battery.html
  src/templates/views/fan.html
  src/templates/views/mcp.html
  src/templates/views/monitor.html
  src/templates/views/performance.html
  src/templates/views/security.html
  src/templates/views/sync.html
  src/templates/views/system.html
Due: eslint --fix, prettier --write

fix(ci): main runs were being cancelled, recording nothing (#42)
  .github/workflows/ci.yml
  src-tauri/tests/workflow_concurrency.rs
Due: none

feat(ci): build, test and package for aarch64 as well as x86_64
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/.vitepress/theme/custom.css
  docs/download.md
  packaging/aur/PKGBUILD
  packaging/copr/thinkutils.spec
  packaging/ppa/debian/control.in
  scripts/test-gui-packages-docker.sh
  src-tauri/tests/packaging.rs
Due: prettier --write, stylelint --fix

docs(guide): install commands must not pin an architecture
  docs/guide/getting-started.md
Due: none

fix(copr): select chroots per architecture, and create the project
  .github/workflows/publish-copr.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
  stylelint --fix: any of: *.css
