Repository vietanhdev/ThinkUtils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, htmlhint

chore: bump to v0.1.4
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/index.html
Due: prettier --write, htmlhint

feat: load curve temp settings
  src/js/fanCurve.js
  src/js/views/fan.js
Due: eslint --fix, prettier --write

remove useless status indicator
  src/index.html
Due: prettier --write, htmlhint

fix(thresholds): reorder write operations to avoid firmware rejection when lowering stop threshold
  src-tauri/src/battery.rs
Due: none

Revise README.md installation instructions
  README.md
Due: none

feat: fix permission loop, harden security, improve fan control
  CLAUDE.md
  package-lock.json
  package.json
  polkit/com.thinkutils.policy
  setup-passwordless.sh
  src-tauri/Cargo.toml
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/permissions.rs
  src-tauri/tauri.conf.json
  src/js/fanCurve.js
  src/js/views/fan.js
Due: eslint --fix, prettier --write

docs: add version bump instructions to CLAUDE.md
  CLAUDE.md
Due: none

refactor: unify permission setup into single one-click flow
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
  src-tauri/src/permissions.rs
  src/js/app.js
  src/js/views/fan.js
Due: eslint --fix, prettier --write

fix: don't prompt for password on every app open
  src/js/app.js
Due: eslint --fix, prettier --write

fix: tell users to restart after granting permissions
  src/js/app.js
  src/js/views/fan.js
Due: eslint --fix, prettier --write

fix: stop pkexec password prompts on every app startup
  src/js/settingsManager.js
Due: eslint --fix, prettier --write

chore: update Cargo.lock for v0.1.6
  src-tauri/Cargo.lock
Due: none

fix: polkit rules dir is root-only, check helper instead
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/permissions.rs
Due: none

chore: bump to v0.1.7
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

chore: add upgrade script and update CLAUDE.md
  CLAUDE.md
  scripts/upgrade.sh
Due: none

feat: add built-in MCP server for AI integration
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
  src-tauri/src/mcp.rs
  src/js/dom.js
  src/js/navigation.js
  src/js/templateLoader.js
  src/js/views/mcp.js
  src/styles.css
  src/styles/mcp.css
  src/templates/sidebar.html
  src/templates/views/mcp.html
Due: eslint --fix, prettier --write, stylelint --fix, htmlhint

fix: add type:sse to MCP config and Claude Code CLI command
  src/js/views/mcp.js
  src/templates/views/mcp.html
Due: eslint --fix, prettier --write, htmlhint

feat: add MCP server tests and LM Studio setup instructions
  src-tauri/src/mcp.rs
  src/templates/views/mcp.html
Due: prettier --write, htmlhint

feat: add rounded window border and update screenshots
  README.md
  screenshots/ai_integration.png
  screenshots/battery.png
  screenshots/fan_control.png
  screenshots/home.png
  screenshots/home_extended.png
  screenshots/performance.png
  screenshots/security.png
  screenshots/settings_sync.png
  screenshots/system_info.png
  screenshots/system_monitor.png
  src-tauri/tauri.conf.json
  src/index.html
  src/styles/common.css
Due: prettier --write, stylelint --fix, htmlhint

chore: bump to v0.1.8
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

feat: add APT repository via GitHub Pages
  .github/workflows/release.yml
  README.md
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

docs: replace ASCII diagrams with Mermaid and add screenshots
  docs/.vitepress/config.mjs
  docs/development/architecture.md
  docs/development/css.md
  docs/guide/getting-started.md
  docs/guide/monitor.md
  docs/guide/permissions.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump to v0.1.9
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

docs: fix Mermaid diagrams for light/dark mode
  docs/.vitepress/config.mjs
  docs/.vitepress/theme/custom.css
  docs/development/architecture.md
  docs/development/css.md
  docs/guide/permissions.md
Due: prettier --write, stylelint --fix

fix: correct MCP config formats for all AI tools
  docs/guide/mcp.md
  src/js/views/mcp.js
  src/templates/views/mcp.html
Due: eslint --fix, prettier --write, htmlhint

fix: fan mode buttons not working after MCP changes speed
  src/js/views/fan.js
Due: eslint --fix, prettier --write

fix: battery threshold UI reads from hardware instead of stale cache
  src/js/settingsManager.js
Due: eslint --fix, prettier --write

chore: bump to v0.1.10
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

docs: make homepage screenshot bigger
  docs/.vitepress/theme/custom.css
Due: prettier --write, stylelint --fix

chore(deps): update dependencies, clearing bytes integer-overflow advisory
  src-tauri/Cargo.lock
Due: none

chore(deps): update dependencies, clearing bytes integer-overflow advisory (#14)
  src-tauri/Cargo.lock
Due: none

security(sync): remove hardcoded OAuth secret, restrict token file to 0600
  src-tauri/src/sync.rs
Due: none

security(sync): remove hardcoded OAuth secret, restrict token file to 0600 (#15)
  src-tauri/src/sync.rs
Due: none

security(performance): validate CPU governor before it reaches a root shell
  src-tauri/src/performance.rs
Due: none

security(performance): validate CPU governor before it reaches a root shell (#16)
  src-tauri/src/performance.rs
Due: none

security(mcp): reject wildcard bind, loopback only
  src-tauri/src/mcp.rs
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
  stylelint --fix: any of: *.css
  htmlhint: any of: *.html
