Repository vietanhdev/ThinkUtils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

security(mcp): reject wildcard bind, loopback only (#17)
  src-tauri/src/mcp.rs
Due: none

test(fan): prove the fan control and privileged helper flows
  src-tauri/src/fan_control.rs
Due: none

test(fan): prove the fan control and privileged helper flows (#18)
  src-tauri/src/fan_control.rs
Due: none

Revise README.md installation instructions (#11)
  README.md
Due: none

docs: repair line continuations in dependency install commands
  README.md
Due: none

docs: repair line continuations in dependency install commands (#19)
  README.md
Due: none

fix(battery): correct the write-order boundary and cover it with tests
  src-tauri/src/battery.rs
Due: none

fix(battery): threshold write ordering (builds on #9 by @MatiM72737) (#20)
  src-tauri/src/battery.rs
Due: none

remove unused status indicator (from #5 by @neoapps-dev) (#21)
  src/index.html
  src/styles/common.css
Due: prettier --write, stylelint --fix

fix(fan): never leave the fan under manual control without a supervisor
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/lib.rs
Due: none

fix(fan): never leave the fan under manual control without a supervisor (#22)
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/lib.rs
Due: none

fix(fan): detect missing fan_control=1 instead of blaming permissions
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
Due: none

fix(fan): detect missing fan_control=1 instead of blaming permissions (#23)
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
Due: none

security(polkit): stop redefining the shared policykit.exec action
  docs/guide/permissions.md
  install-polkit.sh
  polkit/com.thinkutils.policy
  scripts/uninstall-legacy-polkit.sh
Due: none

security(polkit): stop redefining the shared policykit.exec action (#24)
  docs/guide/permissions.md
  install-polkit.sh
  polkit/com.thinkutils.policy
  scripts/uninstall-legacy-polkit.sh
Due: none

style: apply cargo fmt and clippy fixes
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/lib.rs
  src-tauri/src/mcp.rs
  src-tauri/src/monitor.rs
  src-tauri/src/performance.rs
  src-tauri/src/permissions.rs
  src-tauri/src/security.rs
  src-tauri/src/settings.rs
  src-tauri/src/sync.rs
  src-tauri/src/system_info.rs
Due: none

feat: environment-aware setup guidance, with real-distro CI coverage
  .github/workflows/ci.yml
  src-tauri/src/environment.rs
  src-tauri/tests/distro_detection.rs
  src-tauri/tests/fixtures/os-release/README.md
  src-tauri/tests/fixtures/os-release/arch
  src-tauri/tests/fixtures/os-release/debian-12
  src-tauri/tests/fixtures/os-release/fedora-41
  src-tauri/tests/fixtures/os-release/linuxmint-21
  src-tauri/tests/fixtures/os-release/opensuse-tumbleweed
  src-tauri/tests/fixtures/os-release/rocky-9
  src-tauri/tests/fixtures/os-release/ubuntu-22.04
  src-tauri/tests/fixtures/os-release/ubuntu-24.04
Due: none

feat(environment): survey every external tool the app depends on
  src-tauri/src/environment.rs
Due: none

fix(ci): redaction check failed when the fixtures were clean
  .github/workflows/ci.yml
Due: none

ci: gate releases on tests, fix two release bugs, automate version bumps
  .github/workflows/release.yml
  scripts/bump-version.sh
Due: none

test: launch-test the real packages in clean containers
  .github/workflows/ci.yml
  .gitignore
  scripts/test-gui-packages-docker.sh
  src-tauri/src/lib.rs
  src/js/app.js
Due: eslint --fix, prettier --write

docs: add a download page and rewrite getting started as a path
  docs/.vitepress/config.mjs
  docs/.vitepress/theme/custom.css
  docs/download.md
  docs/guide/getting-started.md
Due: prettier --write, stylelint --fix

feat(packaging): move the helper out of /usr/local and add AUR/COPR manifests
  .github/workflows/ci.yml
  packaging/aur/PKGBUILD
  packaging/copr/thinkutils.spec
  packaging/helper/thinkutils-fan-control
  packaging/polkit/50-thinkutils.rules
  scripts/bump-version.sh
  src-tauri/examples/gen-packaging.rs
  src-tauri/src/environment.rs
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/lib.rs
  src-tauri/src/mcp.rs
  src-tauri/src/permissions.rs
  src-tauri/tests/packaging.rs
Due: none

security(frontend): escape untrusted strings and set a real CSP
  src-tauri/tauri.conf.json
  src-tauri/tests/packaging.rs
  src/js/utils.js
  src/js/views/battery.js
  src/js/views/fan.js
  src/js/views/monitor.js
  src/js/views/security.js
Due: eslint --fix, prettier --write

security: one safe path for running a script as root
  src-tauri/src/auth.rs
  src-tauri/src/battery.rs
  src-tauri/src/fan_control.rs
  src-tauri/src/lib.rs
  src-tauri/src/performance.rs
  src-tauri/src/privileged.rs
Due: none

fix: battery thresholds now grantable, and MCP stops stealing the OAuth port
  docs/guide/mcp.md
  src-tauri/src/battery.rs
  src-tauri/src/mcp.rs
  src-tauri/src/permissions.rs
  src-tauri/src/sync.rs
  src/js/views/mcp.js
  src/templates/views/mcp.html
Due: eslint --fix, prettier --write

fix(ci): build the launch-test packages on the glibc floor
  .github/workflows/ci.yml
Due: none

refactor(ui): give views a lifecycle, and make dialogs keyboard-usable
  scripts/test-gui-packages-docker.sh
  src/js/about.js
  src/js/app.js
  src/js/dialog.js
  src/js/navigation.js
  src/js/state.js
  src/js/utils.js
  src/js/views/fan.js
  src/js/views/monitor.js
  src/js/views/registry.js
  src/templates/views/battery.html
  src/templates/views/mcp.html
  src/templates/views/monitor.html
  src/templates/views/performance.html
  src/templates/views/security.html
  src/templates/views/sync.html
  src/templates/views/system.html
Due: eslint --fix, prettier --write

refactor(ui): one implementation each for hardware controls and log panels
  src/js/hardwareControls.js
  src/js/logPanel.js
  src/js/views/home.js
  src/js/views/performance.js
  src/js/views/security.js
Due: eslint --fix, prettier --write

docs(ui): say what each control does and what it costs
  src/templates/views/battery.html
  src/templates/views/fan.html
  src/templates/views/performance.html
Due: prettier --write

fix(ci): install jq in the launch-test container, and fail loudly without it
  .github/workflows/ci.yml
  scripts/test-gui-packages-docker.sh
Due: none

feat(packaging): Debian source package for the Launchpad PPA
  docs/.vitepress/config.mjs
  docs/development/packaging.md
  packaging/ppa/debian/control.in
  packaging/ppa/debian/copyright
  packaging/ppa/debian/rules
  packaging/ppa/debian/source/format
  scripts/build-ppa-source.sh
  src-tauri/tests/packaging.rs
Due: none

fix(ci): split the container build from the Docker-driven launch test
  .github/workflows/ci.yml
Due: none

security(mcp): migrate to rmcp 2 and enforce Host and Origin
  .github/workflows/ci.yml
  build/gui-test-out/deb_ubuntu_24.04/ocr.txt
  build/gui-test-out/deb_ubuntu_24.04/shot.png
  build/gui-test-out/deb_ubuntu_24.04/shot_root.png
  build/gui-test-out/rpm_fedora_41/ocr.txt
  build/gui-test-out/rpm_fedora_41/shot.png
  build/gui-test-out/rpm_fedora_41/shot_root.png
  docs/guide/mcp.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/mcp.rs
  src/templates/views/mcp.html
Due: prettier --write

fix(ci): give the AppImage test the graphics stack it expects
  scripts/test-gui-packages-docker.sh
Due: none

test: simulate the hardware shapes nobody here owns
  .github/workflows/ci.yml
  src-tauri/tests/hardware_profiles.rs
  src-tauri/tests/synthetic_hardware.rs
Due: none

test: launch-test real packages in containers + download page (#26)
  .github/workflows/ci.yml
  .gitignore
  docs/.vitepress/config.mjs
  docs/.vitepress/theme/custom.css
  docs/development/packaging.md
  docs/download.md
  docs/guide/getting-started.md
  packaging/aur/PKGBUILD
  packaging/copr/thinkutils.spec
  packaging/helper/thinkutils-fan-control
  packaging/polkit/50-thinkutils.rules
  packaging/ppa/debian/control.in
  packaging/ppa/debian/copyright
  packaging/ppa/debian/rules
  packaging/ppa/debian/source/format
  scripts/build-ppa-source.sh
  scripts/bump-version.sh
  scripts/test-gui-packages-docker.sh
  src-tauri/examples/gen-packaging.rs
  src-tauri/src/environment.rs
  src-tauri/src/fan_control.rs
  src-tauri/src/fan_curve.rs
  src-tauri/src/lib.rs
  src-tauri/src/mcp.rs
  src-tauri/src/permissions.rs
  src-tauri/tests/packaging.rs
  src/js/app.js
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
  stylelint --fix: any of: *.css
